@model twoja_manufaktura.Models.Product
@using twoja_manufaktura.Infrastructure
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        @Html.Action("GenresMenu")
        <div class="col-lg-9">
            <div id="productlist-content">
                <div id="productlist-rightsection">
                    <div id="breadcrumb-section">
                        <img src="../Content/Images/home-small.png" />
                        @Html.MvcSiteMap().SiteMapPath()
                    </div>
                    <section id="product-details-section">
                        <div id="product-details-left">
                            <img src="@Url.ProductImagePath(Model.PhotoFileName)" />
                            <div id="product-details-share">
                                <a href="https://facebook.com/sharer/sharer.php?u=@Request.Url.AbsoluteUri" target="_blank"></a>
                                <div></div>
                                <a href="http://twitter.com/share?text=My_new_thong: @Request.Url.AbsoluteUri" target="_blank"></a>
                            </div>
                        </div>
                        <div id="product-details-right">
                            <div id="product-details-names">

                                <h1>
                                    @Model.Name
                                </h1>

                                <h2>
                                </h2>
                            </div><div id="product-details-price">
                                <div>
                                    @Model.Price<span>PLN</span>
                                </div>
                                <a href="@Url.Action("AddToCart", "Cart", new {id = Model.ProductId }) "></a>
                            </div>
                            <div id="product-details-description">
                                @Model.Description
                            </div>
                            <div id="product-details-info">
                                Bezpłatna  przesyłka, czas realizacji 24 h.
                            </div>
                        </div>
                    </section>

                </div>
            </div>
        </div>
    </div>
</div>