@model twoja_manufaktura.Models.Product
@using twoja_manufaktura.Infrastructure
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        @Html.Action("GenresMenu")
        <div class="col-lg-9">
            <div id="productlist-content">
                <div id="productlist-rightsection">
                    <div id="breadcrumb-section">
                        <img src="@Url.Content("~/Content/Icons/64/iconmonstr-home-1-64.png")" />
                        @Html.MvcSiteMap().SiteMapPath()
                    </div>
                    <section id="product-details-section">
                        <div id="product-details-left">
                            <img src="@Url.ProductImagePath(Model.PhotoFileName)" />
                            <div id="product-details-share">
                                <a href="https://facebook.com/sharer/sharer.php?u=@Request.Url.AbsoluteUri" target="_blank"></a>
                                <div></div>
                                <a href="http://twitter.com/share?text=My_new_thong: @Request.Url.AbsoluteUri" target="_blank"></a>
                            </div>
                        </div>
                        <div id="product-details-right">
                            <div id="product-details-names">

                                <h1>
                                    @Model.Name
                                </h1>

                                <h2>
                                </h2>
                            </div><div id="product-details-price">
                                <div>
                                    @Model.Price<span>PLN</span>
                                </div>
                                <a href="@Url.Action("DodajDoKoszyka", "Koszyk", new {id = Model.ProductId }) style="background-color: #7C7C7C;"">
                                    <img src="/Content/Icons/64/iconmonstr-basket-14-48.png" style="margin-left: 10px; margin-top: 8px;"/>
                                </a>
                            </div>
                            <div id="product-details-description">
                                @Model.Description
                            </div>
                            <div id="product-details-info">
                                Bezpłatna  przesyłka, czas realizacji 24 h.
                            </div>
                            @if(User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                            {
                                <a href="@Url.Action("DodajProdukt", "Manage", new { productId = Model.ProductId })" style="margin-top: 20px; font-weight: bold; display: block;">Edytuj</a>
                            }
                        </div>
                    </section>

                </div>
            </div>
        </div>
    </div>
</div>