﻿@using Microsoft.AspNet.Identity﻿
<!DOCTYPE html>

<html>
<head>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="handmade" content="">
        <meta name="Piotr Migdalski" content="">
        <title>@ViewBag.Title</title>

        <!-- Bootstrap core CSS -->
        <link href="~/Templates/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <script src="~/Views/Shared/vendor/jquery/jquery.min.js"></script>
        <script src="~/Views/Shared/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- Custom styles for this template -->
        <link rel="stylesheet" href="~/Templates/Site.css">
        @System.Web.Optimization.Styles.Render("~/Content/themes/base/css")
    </head>
    <style>
        .manageLink {
            height: 42px;
            float: left;
            line-height: 40px;
            font-size: 14px;
            padding-left: 40px;
            /*background-color: #585858;*/
            background-color: #39312E;
            color: white;
        }

        a.manageLink, a.manageLink:hover, a.manageLink:visited {
            color: white;
        }
    </style>
</head>
<body >
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">Twoja Manufaktura</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <li class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="@Url.Action("StaticContent", "Home", new { viewname = "index" })">
                            Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("StaticContent", "Home", new { viewname = "about" })">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("StaticContent", "Home", new { viewname = "contact" })">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("OrdersList", "Manage")" style="width: 100px">Zamówienia</a>
                    </li>
                    <li class="nav-item">
                        @if (Request.IsAuthenticated)
                        {
                            using (Html.BeginForm("Logoff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { @class = "nav-link", title = "Manage" })
                                <a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Wyloguj</a>


                            }
                        }
                        else
                        {
                            @Html.ActionLink("Rejestracja", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "nav-link", id = "registerLink" })
                            @Html.ActionLink("Zaloguj", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "nav-link", id = "loginLink" })

                        }
                    </li>
                    <li class="nav-item">
                        @if (@User.IsInRole("Admin"))
                        {
                            <a class="nav-link" href="@Url.Action("DodajProdukt", "Manage")">
                                Dodaj Produkt
                            </a>
                        }
                    </li>
                </ul>
            </li>

        </div>
    </nav>
    <div style="overflow: hidden; margin-bottom: 30px;">
        <a id="cart-header-link" href="@Url.Action("Index", "Koszyk")">
            KOSZYK (<span id="cart-header-items-count">@Html.Action("LiczbaRzeczyWKoszyku", "Koszyk")</span>)
            <span id="cart-header-logo"></span>
        </a>
    </div>

    @RenderBody()


    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy;Twoja Manufaktura</p>
        </div>
        <!-- /.container -->
    </footer>

    @RenderSection("ScriptsBottom", required: false)
</body>
</html>
